<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:aqua;
            background-color: rgb(42, 165, 77);

        }
       .a{
         color:rgb(226, 43, 198);
         background-color: black;
        }

    </style>
</head>
<body>
    <center>
        <h1>this is CBV </h1>
        <h1 class="a">this is the CBV html page</h1>
    </center>
    
</body>
</html>